.btn {
  padding: 0.5rem 2rem;
}

.customTable {
  margin: 2rem 5rem;
}

img {
  max-height: 2rem;
}

table .btnedit {
  color: crimson;
  cursor: pointer;
}

.success {
  background: lightgreen;
  padding: 1rem;
}

.error {
  background: tomato;
  padding: 1rem;
}
